#disco-battle-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  #disco-battle-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    animation: twinkle 3s linear infinite;
  }

  #disco-cd {
    width: 4rem;
    animation: spin 2s infinite linear;
  }

  .machine-box {
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes twinkle {
    0% {
      background-color: #5b5b5b;
    }
    // 25% {
    //   background-color: #c37eff;
    // }
    50% {
      background-color: #989898;
    }
    // 75% {
    //   background-color: #f357c2;
    // }
    100% {
      background-color: #5b5b5b;
    }
  }
}

.modal-box.disco-battle {
  border: solid 0.5rem black;
  padding: 2rem 1rem;
  border-radius: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  row-gap: 1rem;

  .option-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option-title {
    font-weight: 400;
  }
}
